.border--grey {
  border: 1px solid lighten($black, 20%);
}

#talk_list {
  @include breakpoint(small only) {
    li {
      padding-top: 2rem;
      border-bottom: 1px solid $grey;
      padding-bottom: 2rem;
    }
  }
}

.hide {
  display: none;
}


@include breakpoint(small only) {
  body .grid-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.cell {
  margin-bottom: max(2.5rem);
}

.rounded-image {
  border-radius: 1.5rem;
}
