

$primary-font: 'bligh', 'Roboto', 'Lucida Grande', sans-serif;
$headline-font: 'gimlet-display', 'Garamond', serif;

// SELECTION

::selection {
  background: $black;
  color: $highlight;
}

::-moz-selection {
  background: $black;
  color: $highlight;
}

/*
  Typesetting
*/

.content {

  h2, h3, h4 {
    margin-top: 3rem;
  }

  h2 {
    letter-spacing: -0.5px;
  }

  h3 {
  }

  p, ul, ol, blockquote, {
    @include breakpoint(large up) {
      font-size: $global-font-size*1.2;
    }
  }

  a {
    border-bottom: 1px solid $blue;
    &:hover {
      border-bottom: 1px solid scale-color($blue, $lightness: -14%);
      color: $black;
    }
  }

  li {
    margin-bottom: 1em;
  }

}
