---
layout: base
title: "@kingsidharth —  Designer, Entrepreneur, & Public Speaker from India"
slug: "home"
meta_description: "Sidharth is an Entrepreneur, Designer, & Public Speaker from India
  — 2x TEDx + 30 Colleges. Solving design, UX, & product problems at Headout.com"
---

<div id="intro_area" class=" area--padded ">
  <div class="grid-container">
    <div id="intro" class="[ grid-x align-middle ]">

      <div id="" class="[ cell shrink small-12 medium-6 text-center ]">
        <img src="/assets/images/floaty-hero.png"
          alt="King Sidharth" title="King Sidharth"
          class="">
      </div>

      <div class="[ cell small-12 medium-6 ][ home__intro ][ grid-x grid-margin-x ]">
        <h1 class="[ cell small-12 ]">Entrepreneur, Product Builder, Designer, Speaker, & Artist</h1>
        <ul class="[ cell small ]">{% include social.html %}</ul>
      </div>

    </div><!-- #intro -->
  </div>
</div><!-- #intro_area -->



<div id="work_area" class="[ area--padded ]">
  <div class="grid-container">
    <div class="[ grid-x grid-margin-x align-middle ]">

      <h2 class="[ cell small-12 ]">Work</h2>


      <div class="[ cell small-12 medium-6 ]">
        <p>
          <img src="/assets/images/logo-growthschool.png" alt="GrowthSchool Logo" style="max-width: 250px;"/>
        </p>
        <p>
          I head product & design at <a href="/work#growthschool">GrowthSchool</a> — a startup based out of Bangalore,
          India. We create programs to help people up-skill and start non-traditional careers.
        </p>
        <p>
          In the past, I've been a part of Headout, Instamojo, Cleartax, and other startups.
        </p>
      </div>

      <div class="[ cell small-12 medium-6 ]">
        <img src="/assets/images/floaty-work.png" alt="Human figure juggling">
      </div>


      <div class="[ cell small-12 ]">
        <div class="card shadow-1">
          <div class="[ grid-x grid-margin-x align-middle ]">

            <div class="[ cell small-12 medium-9 ]">
              <p>Headout sells tourism experiences across the world. My team’s focus was on reshaping the core platform for scale — make it self-serve for partners, scaling the IA of the core platform and sister brands.
              </p>
              <p><a href="/work#headout">Read More</a></p>
            </div>

            <div class="[ cell small-12 medium-3 ]">
              <a href="/work#headout">
                <img src="/assets/images/logo-headout.png" alt="Headout, Inc. Logo">
              </a>
            </div>

          </div><!--.grid-x-->
        </div><!--.card-->
      </div><!--.cell -->

      <div class="[ cell small-12 ]">
        <div class="card shadow-1">
          <div class="[ grid-x grid-margin-x align-middle ]">

            <div class="[ cell small-12 medium-9 ]">
              <p>
                Instamojo servers millions of MSME’s across India — solving their needs for payments, online sales, ecommerce infrastructure, and more.
              </p>
              <p>
                I was a part of the founding team of and help build and scale the core payments platform.
              </p>
              <p><a href="/work#instamojo">Read More</a></p>
            </div>

            <div class="[ cell small-12 medium-3 ]">
              <a href="/work#instamojo">
                <img src="/assets/images/logo-instamojo.png" alt="Instamojo Technologies Private Limited Logo">
              </a>
            </div>

          </div><!--.grid-x-->
        </div><!--.card-->
      </div><!--.cell -->


    </div>
  </div><!--.grid-container-->
</div><!-- #work_area -->


<div id="speaking_area" class="area--padded">
  <div class="grid-container">
    <div id="speaking" class="[ cell small-12 grid-x align-middle ]">
      {% include speaking.html %}
    </div>
  </div>
</div><!-- speaking_area -->


<div id="project_area" class="area--padded">
  <div class="grid-container">
    <div id="projects__youtube" class="[ grid-x grid-margin-x ][ cell small-12 ]">

      <div class="[ cell small-12 ]">
        <h3>Other Content</h3>
      </div>

      <div class="[ cell small-12 medium-6 ]">
        <ul class="no-list">
          <li><a href="https://www.youtube.com/watch?v=S9mytjd4wVY&list=PLbwADCh48-fV1GY7f6N1pnD-1DFDv1Koq">Getting Started with UI/UX Design</a></li>
          <li><a href="https://www.youtube.com/watch?v=_5LXIsxV08A&list=PLbwADCh48-fW_6N1a_aCt1Ixisrb8VwoK">Product Management Course (Hindi)</a></li>
          <li><a href="https://www.youtube.com/watch?v=OP_nSvqllsg&list=PLbwADCh48-fWC2eAoFTXWJKHyz3Ack51C">Design Systems (Material, Apple Human Interface Guidelines & More)</a></li>
          <li><a href="https://www.youtube.com/watch?v=4VuUhbnLX40&list=PLbwADCh48-fXz94l-ojlURj-DXmY5GWP5">Typography & Type Setting</a></li>
          <li>Secret Guide to Information Architecture (<a href="https://www.youtube.com/watch?v=1Arxk2HjAXE&t=6s">Hindi</a> | <a href="https://www.youtube.com/watch?v=8aNV7hFbvEs">English</a>)</li>
        </ul>
      </div>

    </div>
  </div>
</div><!-- #project_area -->

<div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="[ cell small-12 large-7 ][ margin--bottom-2x ]">
        {% include media.html %}
      </div><!--.cell-->
    </div>
  </div>
</div>
