<div id="media_area" class="[ area--padded ][ js-animate-scroll ]">
    <div id="media" class="grid-container">
        <a href="/media-mentions">
          <div class="[ grid-x grid-padding-x align-middle align-center ]">
            {% if include.title %}<h3 class="[ cell small-12 ][ text-center h4 ]">{{ include.title }}</h3>{% endif %}
            <div class="[ cell small-12 medium-8 ]">

              <div class="[ grid-x grid-padding-x align-middle align-center text-center ][ ][ c-logo-list ]" style="height: 160;">
                <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
                  <img src="{% base64 app/assets/images/bloomberg-logo.png %}" alt="Bloomberg" title="Feature on Bloomberg">
                </div>
                <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
                  <img src="{% base64 app//assets/images/business-insider-logo.png %}" alt="Business Insider" title="Feature on Business Insider">
                </div>
                <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
                  <img src="{% base64 app//assets/images/the-hindu-newspaper-logo.png %}" alt="The Hindu" title="Feature on The Hindu Newspaper">
                </div>
                <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
                  <img src="{% base64 app//assets/images/yourstory-logo.png %}" alt="Yourstory" title="Feature on Yourstory">
                </div>
                <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
                  <img src="{% base64 app//assets/images/logo-inc-42.png %}" alt="Inc42" title="Feature on Inc42">
                </div>
              </div>

            </div><!-- .cell -->
          </div><!-- .grid-x -->
        </a>

  </div>
</div><!-- #media_area -->
