<ul class="menu no-bottom-margin social-bar">
  <li>
    <a href="https://twitter.com/kingsidharth" target="_blank">
      <img  src="/assets/images/icons/twitter.svg"
            alt="Twitter" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'twitter', 'ui_location': 'icon-strip' })"
            title="Conversations, Thoughts, & Prayers; JK... Shitposts thoughts on Twitter">
    </a>
  </li>

  <li>
    <a href="https://instagram.com/kingsidharth" target="_blank">
      <img  src="/assets/images/icons/instagram.svg"
            alt="Instagram" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'instagram', 'ui_location': 'icon-strip' })"
            title="Let's talk on Instagram">
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/kingsidharth/" target="_blank">
      <img  src="/assets/images/icons/linkedin.svg"
            alt="LinkedIn" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'linkedin', 'ui_location': 'icon-strip' })"
            title="Useful discussions & mandatory bragging on LinkedIn">
    </a>
  </li>

  <li>
    <a href="https://www.youtube.com/kingsidharthofficial" target="_blank">
      <img  src="/assets/images/icons/youtube.svg"
            alt="YouTube" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'youtube', 'ui_location': 'icon-strip' })"
            title="Videos on Design, Product, Startups, & Talks on YouTube">
    </a>
  </li>

  <li>
    <a href="https://medium.com/@kingsidharth" target="_blank">
      <img  src="/assets/images/icons/medium.svg"
            alt="Medium" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'medium', 'ui_location': 'icon-strip' })"
            title="Design, Product, & Startup write-ups on Medium (No Paywall)">
    </a>
  </li>

  <li>
    <a href="https://t.me/kingsidharthtel" target="_blank">
      <img  src="/assets/images/icons/telegram.svg"
            alt="Medium" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'telegram', 'ui_location': 'icon-strip' })"
            title="Join the Telegram Group">
    </a>
  </li>

  <li>
    <a href="https://discord.gg/mCqyuaZ" target="_blank">
      <img  src="/assets/images/icons/discord.svg"
            alt="Medium" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'discord', 'ui_location': 'icon-strip' })"
            title="Join the Discord Server">
    </a>
  </li>

  <li>
    <a href="https://open.spotify.com/show/1VZF4U1vMF6HfFxm2om94U" target="_blank">
      <img  src="/assets/images/icons/spotify.svg"
            alt="Spotify" class="icon icon--social"
            onclick="dataLayer.push({'event': 'Social Link Clicked', 'network': 'spotify', 'ui_location': 'icon-strip' })"
            title="Listen to the Podcast on Spotify">
    </a>
  </li>
</ul>
