<ul class="menu no-bottom-margin social-bar" style="margin-bottom: 0;">
  <li>
    <a href="https://twitter.com/kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/twitter.svg %}"
            alt="Twitter" class="icon icon--social"
            onclick="ga('send', 'event', 'Twitter', 'Click', 'Icon Strip');"
            title="Conversations, Thoughts, & Prayers; JK... Shitposts thoughts on Twitter">
    </a>
  </li>

  <li>
    <a href="https://instagram.com/kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/instagram.svg %}"
            alt="Instagram" class="icon icon--social"
            onclick="ga('send', 'event', 'Instagram', 'Click', 'Icon Strip');"
            title="Let's talk on Instagram">
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/kingsidharth/" target="_blank">
      <img  src="{% base64 app/assets/images/icons/linkedin.svg %}"
            alt="LinkedIn" class="icon icon--social"
            onclick="ga('send', 'event', 'LinkedIn', 'Click', 'Icon Strip');"
            title="Useful discussions & mandatory bragging on LinkedIn">
    </a>
  </li>

  <li>
    <a href="https://www.youtube.com/kingsidharthofficial" target="_blank">
      <img  src="{% base64 app/assets/images/icons/youtube.svg %}"
            alt="YouTube" class="icon icon--social"
            onclick="ga('send', 'event', 'YouTube', 'Click', 'Icon Strip');"
            title="Videos on Design, Product, Startups, & Talks on YouTube">
    </a>
  </li>

  <li>
    <a href="https://medium.com/@kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/medium.svg %}"
            alt="Medium" class="icon icon--social"
            onclick="ga('send', 'event', 'Medium', 'Click', 'Icon Strip');"
            title="Design, Product, & Startup write-ups on Medium (No Paywall)">
    </a>
  </li>

  <li>
    <a href="https://open.spotify.com/show/1VZF4U1vMF6HfFxm2om94U" target="_blank">
      <img  src="{% base64 app/assets/images/icons/spotify.svg %}"
            alt="Spotify" class="icon icon--social"
            onclick="ga('send', 'event', 'Spotify', 'Click', 'Icon Strip');"
            title="Listen to the Podcast on Spotify">
    </a>
  </li>

  {% comment %}
  <li>
    <a href="https://www.slideshare.net/KingSidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/slideshare.svg %}"
            alt="Slideshare"  class="icon icon--social"
            onclick="ga('send', 'event', 'SlideShare', 'Click', 'Icon Strip');"
            title="Presentations from some of my talks are on Slideshare">
    </a>
  </li>

  <li>
    <a href="https://github.com/kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/github.svg %}"
            alt="Github"  class="icon icon--social"
            onclick="ga('send', 'event', 'GitHub', 'Click', 'Icon Strip');"
            title="Source code of this site and some other experiments are on Github">
    </a>
  </li>
  {% endcomment %}
</ul>
