
$mode: 'dark';

@mixin theme($mode: 'mode') {
  :root body, [data-theme="dark"] {
    background: $black;
    color: $white;

    hr {
      border-bottom-color: $blue;
    }
  }

  .social-bar li a {
    border-color: $blue;
    &:hover {
      border: 1px solid $blue;
    }
  }

  .icon {
    filter: brightness(0) invert(1);
  }


  // Dividers
  #talk_list li {
    border-bottom-color: $blue;
  }

  div a {
    color: $grey;
    &:hover {
      color: $grey;
      border-bottom: 1px solid scale-color($blue, $lightness: 25%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  @include theme;
}

body.dark {
  @include theme;
}
