.menu {
  a {
    border: none;
    border-radius: 0.5rem;
    &:hover {
      border: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root .menu a {
    color: $grey;
    &:hover {
      background: scale-color($blue, $lightness: 15%);
      border-color: transparent!important;
    }
  }
}
