.menu {
  a {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    @include breakpoint(medium up) {
      margin-left: 1rem;
    }
    &:hover {
      border: 1px solid $black;
    }
  }
}
