a.switch {
  border-radius: 0.25rem;
  background: transparent;
  border: 1px solid $white;

  .switch--control {
    border-radius: 0.5rem;
  }
}

.dark .switch {
  border: 1px solid $white;
  &:hover {
    border: 1px solid $white;
    background: $grey;
  }
}

.light .switch {
  border: 1px solid $black;
  &:hover {
    border: 1px solid $black;
    background: $grey;
  }
}
